# Rent Database Report

## Import modules

In [1]:
import pandas as pd

## Upload files

In [2]:
# PATH Variables
PATH_aluguel = "data/aluguel.csv"

In [12]:
rent_data = pd.read_csv(PATH_aluguel, sep=";")

In [13]:
rent_data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

## General DataFrame information

In [20]:
data_type = pd.DataFrame(rent_data.dtypes, columns=["Data type"])
data_type.columns.name = "Variables"

In [21]:
data_type

Variables  Data type
Tipo          object
Bairro        object
Quartos        int64
Vagas          int64
Suites         int64
Area           int64
Valor        float64
Condominio   float64
IPTU         float64

In [24]:
print(f"The data base has {rent_data.shape[0]} properties and {rent_data.shape[1]} variables.")

The data base has 32960 properties and 9 variables.